@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Alata|Didact+Gothic|Inknut+Antiqua:300,400,500,600,700,800,900|Josefin+Sans:400,400i,600,600i,700,700i|Nova+Cut|Reenie+Beanie|Work+Sans:400,500,600,700,800,900|ZCOOL+XiaoWei&display=swap');

body{
	font-family: 'Work sans', sans-serif;
	color: #FFFFFF;
	background-color: #333333;
	text-align: center;
	margin: 0;
}

#header{
	padding-top: 35px;
	font-size: 1.2em;
	color: white;
}

#hero-image{
	background-image: url("Resources/PP.jpg");
	min-width: 100%;
	min-height: 100%;
	background-position: 50%;
	background-position-y: 10%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40;
	position: fixed;
	z-index: -1;
}

#hero-text {
	/* font-family: 'Alata', sans-serif; */
	/* font-family: 'Josefin Sans', sans-serif; */
	font-family: 'Inknut Antiqua', serif;
	/* font-family: 'Frank Ruhl Libre', serif; */
	/* font-family: 'Work Sans', sans-serif; */
	/* font-family: 'ZCOOL XiaoWei', serif; */
	/* font-family: 'Nova Cut', cursive; */
	font-size: 6em;
	line-height: 1.2em;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}


#quote {
	width: 90%;
	margin: auto;
	max-width: 600;
}

.hero-empty-box{
	width: 100%;
	height: 100vh;
}

.content-box{
	background: rgba(0, 0, 0, .3);
	/* filter: opacity(90%); */
	margin-bottom: 0px;
}

.quotes {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-style: italic;
	font-size: 1.2em;
}

.quoter {
	margin-top: -10;
	font-family: 'Frank Ruhl Libre', serif;
	font-style: italic;
	font-size: 0.9em;
}

#video-grid-container {
	display: grid;
	margin: auto;
	max-width: 1200;
	grid-template-columns: repeat(auto-fit, minmax(560px, 1fr));
	padding: 10px;
}

.video-grid-item {
	padding: 20px;
	font-size: 30px;
}

.section{
	padding: 15vh 0px;
}

.story-box{
	max-width: 600px;
	padding-top: 10vh;
	margin: 0px auto;
	line-height: 2em;
	font-size: 1.3em;
	font-weight: 300;
}

.biisit-grid-con1{
	display: grid;
	max-width: 1200;
	margin: auto;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* margin-top: 60px; */
	/* margin-bottom: 60px; */
}

.biisit-grid-con2{
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}

.biisit-grid-item{
	margin-bottom: 0px;
}

#biisi-grid{
	display: grid;
}

#biisi-g-item{

}

.biisi{
	margin:0px;
}

.artisti{
	margin-top: 3px;
	font-size: 0.8em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
}

#footer{
	font-size: 0.8em;
	padding-bottom: 20vh;
}

#email{
	font-family: 'Inknut Antiqua', serif;
	font-size: 3em;
	font-weight: bold;
	text-decoration: none;
	color: #eeeeee;
}

#email:hover{
	color: #666666;
}
